/* Text Selection Color*/

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(128, 128, 128);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(128, 128, 128);
}

html,
body {
  background-image: none !important;
  background-color: rgb(40, 42, 54) !important;
}

/* text*/
body * {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 42, 54) !important;
  font-family: "Roboto", sans-serif;
  text-align: left;
  /* overflow-x: hidden; */
}

a,
a * {
  color: rgb(80, 250, 123) !important;
  background-color: transparent !important;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
  color: rgb(241, 250, 140) !important;
}


/* changes the colour of visited links */
a:visited,
a:visited * {
  color: rgb(98, 114, 164) !important;
}

/* Text that becomes yellow */

h1,
h2,
h3,
h4,
h5,
h6,
strong,
u,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
  color: rgb(255, 184, 108) !important;
}

table {
  background-color: rgb(40, 42, 54) !important;
}

[id*="overlay"],
[id*="lightbox"],
blockquote {
  background-color: rgb(68, 71, 90) !important;
}

pre,
dl {
  background-color: rgb(68, 71, 90) !important;
}

input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,
.install[onclick] {
  text-indent: 5px;
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  background: rgb(68, 71, 90) !important;
}

textarea {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  background: rgb(68, 71, 90) !important;
}

div,
ul,
li {
  background-image: none !important;
}

a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] {
  font-weight: bold !important;
  color: rgb(139, 233, 253) !important;
}

/* End Main Site Theme */


/* Tooltips */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hides the tooltip unless hover */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the text */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  background-color: hsla(0, 0%, 20%, 0.9);
  color: rgb(255, 255, 255);
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid rgb(0, 0, 0);
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}